@using DST.Controllers.Company;
@using DST.Helpers;
@using Microsoft.AspNetCore.Http
@using DST.Controllers.Authentications;

@{
    GeneralClass generalClass = new GeneralClass();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Well Test | @ViewData["Title"] </title>

    <link rel="icon" type="image/png" sizes="16x16" href="~/images/nuprc.png">

    <link rel="stylesheet" href="~/css/dataTables.bootstrap.css" />
    <link rel="stylesheet" href="~/css/dataTables.min.css" />
    <link rel="stylesheet" href="~/css/buttons.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.semanticui.min.css" />

    <link rel="stylesheet" href="~/css/dataTables.checkboxes.css" />
    <link rel="stylesheet" href="~/css/jquery.datetimepicker.min.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/ela/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet" />

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="~/css/ClientStyle.css" rel="stylesheet" />
    <link href="~/css/notify.css" rel="stylesheet">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="box-shadow: 0 3px 5px black;">

        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="~/images/WellTestCompany.PNG" style="width:180px" class="d-inline-block align-top" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarsExample07">

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Companies/Dashboard"> Dashboard <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Applications</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown07">
                            <a class="dropdown-item" href="/Companies/MyApplications">My Applications</a>
                            @foreach (var m in CompaniesController._applicationType)
                            {
                                <a class="dropdown-item" href="/CompanyApplication/Apply/@generalClass.Encrypt(m.AppTypeId.ToString())">Apply for @m.TypeName</a>
                            }
                        </div>
                    </li>

                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Excel Template </a>
                        <div class="dropdown-menu" aria-labelledby="dropdown07">
                            <a class="dropdown-item" href="/CompanyApplication/DownloadTemplate"> <i class="fas fa-download"> </i> Well Test Template</a>
                        </div>
                    </li>


                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Account <b class="badge badge-warning" id="NotifyCount"></b> </a>
                        <div class="dropdown-menu" aria-labelledby="dropdown07">
                            <a class="dropdown-item" href="/Companies/CompanyInformation">Company Profile</a>
                            <a class="dropdown-item" href="/Companies/DocumentsLibrary">Document Library</a>
                            <a class="dropdown-item" href="/Auth/ChangePassword">Change Password</a>
                            <a class="dropdown-item" href="/Companies/Messages">Messages</a>
                            <a class="dropdown-item" href="/Companies/MySchedule"> My Schedule <b class="badge badge-warning" id="ScheduleCount"></b> </a>

                        </div>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="/Companies/MyPermits"> My Approvals</a>
                    </li>

                </ul>

                <ul class="navbar-nav">
                    @{
                        var name = generalClass.Decrypt(Context.Session.GetString("_sessionEmail")).Split("@");

                    }
                    <li class="nav-item active">
                        <a class="nav-link text-warning" href="/Companies/CompanyInformation"> <i class="fa fa-user"> </i> <b>@name[0]</b> <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="/Auth/Logout"> <i class="fa fa-power-off"> </i> Logout <span class="sr-only">(current)</span></a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>





    <div class="container" style="box-shadow:0 0 5px #c5c5c5; padding: 0 15px 20px 15px; background:white;">
        <div class="panel-body">
            <br /><br /><p></p>
            @RenderBody()

            <br />
            <br />
        </div>
    </div>

    <br /><br />

    <footer class="container text-center">

        Copyright © @DateTime.Now.Year. The Nigerian Upstream Petroleum Regulator Commission (NUPRC) Nigeria
    </footer>

    <br /><br />

    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/semantic ui/dist/semantic.js"></script>

</body>
</html>



<script src="~/lib/semantic ui/dist/semantic.js"></script>

<script src="~/js/dataTables.min.js"></script>



@* Jquery data table scripts *@
<script src="~/js/dataTables.buttons.min.js"></script>
<script src="~/js/buttons.flash.min.js"></script>
<script src="~/js/jszip.min.js"></script>
<script src="~/js/pdfmake.min.js"></script>
<script src="~/js/vfs_fonts.js"></script>
<script src="~/js/buttons.html5.min.js"></script>
<script src="~/js/buttons.print.min.js"></script>
<script src="~/js/buttons.colVis.min.js"></script>
<script src="~/js/dataTables.checkboxes.min.js"></script>




<script src="~/js/FunctionScript.js"></script>
<script src="~/js/jquery.ui.widget.js"></script>
<script src="~/js/jquery.iframe-transport.js"></script>
<script src="~/js/jquery.fileupload.js"></script>
@*<script src="~/js/jquery.datetimepicker.min.js"></script>*@
<script src="~/js/jquery.datetimepicker.full.min.js"></script>




@* Local Application configuration script *@
<script src="~/js/DST Scripts/Configurations/Countries.js"></script>
<script src="~/js/DST Scripts/Configurations/States.js"></script>
<script src="~/js/DST Scripts/Configurations/FieldOffice.js"></script>
<script src="~/js/DST Scripts/Configurations/Zones.js"></script>
<script src="~/js/DST Scripts/Configurations/ZoneState.js"></script>
<script src="~/js/DST Scripts/Configurations/ZoneFieldOffice.js"></script>
<script src="~/js/DST Scripts/Configurations/Roles.js"></script>
<script src="~/js/DST Scripts/Configurations/AppStage.js"></script>
<script src="~/js/DST Scripts/Configurations/AppType.js"></script>
<script src="~/js/DST Scripts/Configurations/ApplicationDocuments.js"></script>
<script src="~/js/DST Scripts/Configurations/AppTypeStage.js"></script>
<script src="~/js/DST Scripts/Configurations/AppStageDocument.js"></script>
<script src="~/js/DST Scripts/Configurations/Locations.js"></script>
<script src="~/js/DST Scripts/Configurations/ApplicationProcess.js"></script>

@* Local application staff script *@
<script src="~/js/DST Scripts/Users/Staff.js"></script>


@* Local application company script *@
<script src="~/js/DST Scripts/Company/Company.js"></script>




@* Local application application script *@
<script src="~/js/DST Scripts/Applications/CompanyApplications.js"></script>
<script src="~/js/DST Scripts/Legacy/Legacy.js"></script>

<script src="~/js/notify.js"></script>