
@using DST.Helpers
@model IEnumerable<DST.RecycleModels.RecycleStageDoc>

@{
    ViewData["Title"] = "Deleted Application Type & Stage";
    Layout = "~/Views/Shared/_ElaLayout.cshtml";
    GeneralClass generalClass = new GeneralClass();
}


<h1>@ViewData["Title"]</h1>

<br />


<div class="card-black">

    <div class="table-responsive">
        <table class="table table-bordered table-hover" id="MyAppsTable" style="font-size:x-small">


            <thead>
                <tr>
                    <th>App Type Name</th>
                    <th>App Stage Name</th>
                    <th>Counter</th>
                    <th>Created At</th>
                    <th>Deleted Status</th>
                    <th>Deleted By</th>
                    <th>Deleted At</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>

                @if (Model.Any())
                {
                    foreach (var a in Model)
                    {
                        var deleted = a.DeletedStatus == true ? "Deleted" : "Active";
                        var id = generalClass.Encrypt(a.TypeStageID.ToString());

                        <tr>
                            <td>  @a.TypeName </td>
                            <td>  @a.StageName </td>
                            <td>  @a.Counter </td>
                            <td>  @a.CreatedAt </td>
                            <td>  @deleted </td>
                            <td>  @a.DeletedBy </td>
                            <td>  @a.DeletedAt </td>
                            <td> <button class="btn btn-sm btn-success" onclick="RestoreTypeStage('@id')"><i class="fas fa-recycle"> </i> Restore</button> </td>
                        </tr>
                    }
                }
            </tbody>

        </table>
    </div>
</div>


<script>

    function RestoreTypeStage(id) {
        var msg = confirm("Are you sure you want to restore this deleted entry?");

        if (msg === true) {
            $.post("/Recyclebin/RestoreApplicationTypeStage", { "id": id }, function (response) {

                if ($.trim(response) === "Restored") {
                    alert("Application type and stage successfully restored");
                    location.reload(true);
                }
                else {
                    alert(Response);
                }

            });
        }
    }
</script>

