@using DST.Helpers;
@using DST.HelpersClass;
@model IEnumerable<DST.Models.GeneralModel.PermitViewModel>;

@{
    ViewData["Title"] = ViewData["PermitDocumentName"];
    Layout = null;
    NumberToWordHelper numberToWord = new NumberToWordHelper();
    int i = 0;

    var half = "";

    half = Model.FirstOrDefault().permitModels.FirstOrDefault().Month > 6 ? "Second Half" : "First Half";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <style type="text/css">
    </style>
</head>
<body style="">

    <div style="padding:0px; color:black">

        <div style="width:100%;" id="divPermitPreview">

            <div class="text-center">


                <div style="font-family: 'Arial Black'; font-weight: bold; line-height: 30px ">

                    <table style="width: 100%; border-spacing: 0;">
                        <tr style="font-size:17px;">
                            <td style="width:20%;">
                                <img src="~/images/nuprc.png" alt="Logo" style="height: 150px; display: block; margin: 0 auto" />
                            </td>
                            <td style="width:75%;" valign="top">
                                <div style="font-size:30px; font-weight:bold; color:forestgreen; margin-top:15px; margin-left:25px; line-height:37px">
                                    NIGERIAN UPSTREAM PETROLEUM REGULATORY COMMISSION (NUPRC)
                                </div>
                                <br />
                                <div style="font-family: Calibri; font-size: 13px; margin-left: 25px; font-weight: normal">
                                    <span>No 7, Sylvester Ugoh Crescent Jabi, Abuja FCT | </span>
                                    <span>PMB : 399 Garki, Abuja | </span>
                                    <span>Phone : +234(0)9032000 | </span>
                                    <span>Email : nuprc@nuprc.gov.ng | </span>
                                    <span>Web : www.nuprc.gov.ng </span>
                                </div>
                            </td>
                        </tr>
                    </table>

                </div>

                <p></p>

                <div style="margin:0px 30px 0px 30px; padding:10px;" class="text-left">

                    <table style="width: 100%; border-spacing: 0;">
                        <tr style="font-size:17px;">
                            <td style="width:60%%;" valign="top">
                                <div style="padding: 5px 0 0;">
                                    <p style="display: inline-block; margin-bottom: -3px; background-color: #FFF; padding: 3px 10px 3px 0;">Ref. No:</p>
                                    &nbsp;<span style="font-family: Calibri;"><b>@Model.FirstOrDefault().permitModels.FirstOrDefault().PermitNO</b></span>
                                </div>
                            </td>
                            <td style="width:40%;" valign="top">
                                <div style="padding: 5px 0 0;">
                                    <p style="display: inline-block; margin-bottom: -3px; background-color: #FFF; padding: 3px 10px 3px 0;">Date:</p>
                                    &nbsp;<span style="font-family: Calibri;">@Model.FirstOrDefault().permitModels.FirstOrDefault().IssuedDate.ToString()</span>
                                </div>
                            </td>
                        </tr>
                    </table>


                    <br />

                    <div style="font-family:Candara; font-size:16px;">

                        <div>The Managing Director,</div>
                        <div>@Model.FirstOrDefault().permitModels.FirstOrDefault().CompanyName,</div>
                        <div>@Model.FirstOrDefault().permitModels.FirstOrDefault().CompanyAddress,</div>
                        <div>@Model.FirstOrDefault().permitModels.FirstOrDefault().CompanyCity,</div>
                        <div>@Model.FirstOrDefault().permitModels.FirstOrDefault().CompanyState.</div>

                        <br />

                        <div>
                            <sanp style="font-weight:bold; text-decoration:underline;">RE : NOTIFICATION OF XXXX PLANNED OPEN-UP </sanp>

                            <p></p>

                            <div style="line-height:44px; font-size:18px; text-align:justify">


                                <p>
                                    Reference is made to your letter (@Model.FirstOrDefault().permitModels.FirstOrDefault().RefNo) dated @Model.FirstOrDefault().permitModels.FirstOrDefault().DateSubmitted on the above subject.
                                </p>

                                <p>
                                    In compliance with the Provisions of Sections 38(c) and 43 of the Petroleum (Drilling and Production) Regulations, 1969 as amended, approval is hereby granted you to open up and conduct MER test on xxx well.
                                </p>

                                <p>
                                    The result(s) of the MER Test (both hard and soft copies) duly certified by NUPRC nominee(s) should reach the Director/CEO, Nigerian Upstream Petroleum Regulator Commission, within one (1) week from the date of completion of the exercise. In addition, you are required to upload the test result(s) on the National Production Monitoring System (NPMS) Platform to enable digital MER Test analysis.
                                </p>

                                <p>
                                    Please note that late submission of MER test result(s) or failure to upload test data on the NPMS Platform will result in non-computation of TAR for the well and attract appropriate sanctions, in line with the Provisions of Section 60B of the Petroleum (Drilling and Production) (Amendment) Regulations, 2019.
                                </p>

                                <p>
                                    Our staff nominated for the @half @Model.FirstOrDefault().permitModels.FirstOrDefault().Year MER test exercise should be contacted to witness and validate the test results.
                                </p>

                                <p>
                                    We acknowledge receipt of your e-payment with Remita Retrieval Reference (RRR) number @Model.FirstOrDefault().permitModels.FirstOrDefault().RRR dated @Model.FirstOrDefault().permitModels.FirstOrDefault().DatePaid, of @numberToWord.NumberToWords(Convert.ToDouble(Model.FirstOrDefault().permitModels.FirstOrDefault()?.TotalAmount)) Naira (@string.Format("{0:N}", Model.FirstOrDefault().permitModels.FirstOrDefault()?.TotalAmount)) only being payment for MER test.
                                </p>

                                <br />
                                <p><br /></p>

                                <p>
                                    The following NUPRC personnel will witness and validate the MER test result(s).
                                </p>

                                <table class="table table-responsive table-bordered" style="font-size:smaller">
                                    <thead>
                                        <tr>
                                            <th>S/N</th>
                                            <th>Name</th>
                                            <th>Division</th>
                                            <th>Location</th>
                                            <th>Email Address</th>
                                            <th>Contact No.</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @if (Model.FirstOrDefault().staffNominations.Any())
                                        {
                                            @foreach (var n in Model.FirstOrDefault().staffNominations)
                                            {
                                                i++;

                                                <tr class="text-center">
                                                    <td>@i</td>
                                                    <td>@n.FullName</td>
                                                    <td>@n.Division</td>
                                                    <td>@n.FieldOffice</td>
                                                    <td>@n.StaffEmail</td>
                                                    <td>@n.Phone</td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>



                                @*<p>
                            Please ensure you inform Zonal Operations Controller, Nigerian Upstream Petroleum Regulator Commission, &nbsp; <i>@Model.FirstOrDefault().ZoneName</i> &nbsp; of the actual date of test prior to commencement of the operation.
                        </p>

                        <p>
                            We acknowledge receipt of your e-payment with Remita Retrieval Reference (RRR) Number &nbsp; <b>@Model.FirstOrDefault().permitModels.FirstOrDefault().RRR</b> dated <b>@Model.FirstOrDefault().permitModels.FirstOrDefault().DatePaid</b> for hundred thousand naira (N100,000.00) being processing fee for this permit.
                        </p>*@


                                <table style="width: 100%; border-spacing: 0;">
                                    <tr style="font-size:17px;">
                                        <td style="width: 66.666%;" valign="top">
                                            <div>
                                                Yours faithfully,

                                                <br />

                                                <img src="~/images/Signature/@Model.FirstOrDefault().permitModels.FirstOrDefault().Signature" style="height: 70px;" />

                                                <br />

                                                <div style="line-height:30px; font-size:16px">
                                                    <span><b>@Model.FirstOrDefault().permitModels.FirstOrDefault().ApprovedBy</b></span>,
                                                    <br />
                                                    <span><b>For: Commission Chief Executive (CCE), (NUPRC)</b></span>
                                                </div>
                                            </div>
                                        </td>

                                        <td style="width: 33.333%;" valign="top">
                                            <div class="text-center">
                                                <img style="height:90px" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.FirstOrDefault().permitModels.FirstOrDefault().QrCode))" />

                                                <br />
                                                <small style="font-size:12px">Scan to verify</small>
                                            </div>

                                        </td>
                                    </tr>
                                </table>

                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>


</body>
</html>



<style>

    #List1 li {
        display: inline-block;
        text-align: left;
    }

    #divPermitPreview {
        background: url("/images/nupp.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
</style>
