@using DST.Helpers;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ElpsServices services = new ElpsServices();
}

<style>
    body {
        margin: 0;
        font-family: Arial;
        font-size: 17px;
        height: 100%;
    }

    .contents {
        bottom: 0;
        width: 100%;
        background: rgba(16, 49, 11, 0.85); /* Black background with transparency */
        color: black;
        float: left;
        min-height: 100%;
        position: absolute;
    }

    .contents2 {
        bottom: 0;
        width: 100%;
        background: rgba(245, 250, 252, 0.85); /* Black background with transparency */
        color: black;
        float: left;
        min-height: 100%;
        position: absolute;
    }


    #divCenter {
        position: fixed;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
</style>

<body style="background:url('/images/bg2.jpg'); background-repeat:no-repeat; background-position:center; background-size:cover; overflow-y:scroll">
    <div class="contents2" id="mobilePage">
        <div class="container text-center">
            <br />

            <h5>
                <b class="text-success" style="font-family: 'Arial Black'; font-weight: bold; line-height: 30px ">
                    NIGERIAN UPSTREAM PETROLEUM REGULATORY COMMISSION (NUPRC)
                </b>
            </h5>

            <br />
            <img src="~/images/nuprc.png" style="height:120px; padding:1px" />
            <br /><br />
            <h3 class="text-center" style="font-weight:bolder;">NUPRC</h3>
            <br />

            <div class="text-center">
                <b>Online Processing Of Well Test</b>
            </div>
            <br />
            <div class="text-center">
                <b>(Extended Well Test, Maximun Efficency Rate and Drill Steam Test)</b>
            </div>

            <br /><br />

            <div class="col-sm-12 text-center" style="padding:5px">

                <div class="row">

                    <div class="col-sm-12">
                        <a href="@ElpsServices._elpsBaseUrl/Account/Login?appId=@ElpsServices.public_key" class="ui button large green btn-block"> Portal Login </a>
                        <p><br /></p>
                    </div>

                    <div class="col-sm-12">
                        <a href="@ElpsServices._elpsBaseUrl/Account/Register?appId=@ElpsServices.public_key" class="ui button large blue btn-block"> Portal Registration </a>
                        <p><br /></p>
                    </div>

                    <div class="col-sm-12">
                        <a href="@ElpsServices._elpsBaseUrl/Permit/VerifyPermit?appId=@ElpsServices.public_key" class="ui button large orange btn-block"> Verify Permit </a>
                        <p><br /></p>
                    </div>

                </div>
                <br />
            </div>

            <br />
            <span style="">&copy; @DateTime.Now.Year - Nigerian Upstream Petroleum Regulatory Commission. All Rights Reserved.</span>
            <br /><br />

        </div>
    </div>
    <div class="contents">

        <br />

        <div class="container text-center" id="divCenter" style="background-color:white; border-radius: 34px; ">

            <br>

            <div class="text-left" style="font-family: 'Arial Black'; font-weight: bold; line-height: 30px ">

                <table style="width: 100%; border-spacing: 0;">
                    <tr style="font-size:17px;">
                        <td style="width:20%;">
                            <img src="~/images/nuprc.png" alt="Logo" style="height: 90px; display: block; margin: 0 auto" />
                        </td>
                        <td style="width:75%;" valign="top">
                            <div style="font-size:20px; font-weight:bold; color:forestgreen; margin-top:20px; line-height:37px">
                                NIGERIAN UPSTREAM PETROLEUM REGULATORY COMMISSION (NUPRC)
                            </div>

                        </td>
                    </tr>
                </table>

            </div>

            <hr />
            <br />

            <div class="text-center">
                <h5><b>Well Test Online Processing</b></h5>
            </div>
            <br />
            <div class="text-center">
                <b> (Extended Well Test, Maximun Efficency Rate and Drill Stem Test)</b>
            </div>

            <br /><br />

                  <div class="col-sm-12 text-center" style="padding:5px">
                      <a href="@ElpsServices._elpsBaseUrl/Account/Login?appId=@ElpsServices.public_key" class="btn btn-lg btn-success"> <b>Portal Login</b> </a> &nbsp;
                      <a href="@ElpsServices._elpsBaseUrl/Account/Register?appId=@ElpsServices.public_key" class="btn btn-lg btn-success"> <b>Company Registration</b> </a>&nbsp;
                      <a href="@ElpsServices._elpsBaseUrl/Permit/VerifyPermit?appId=@ElpsServices.public_key" class="btn btn-lg btn-warning"> <b>Verify Permit</b> </a>
                      <p><br /></p>
                  </div>

            <div class="row text-center contentdescription" style="font-size: 13px; line-height: 30px; background: #f7eed3; padding: 40px">

                <div class="col-sm-3 text-center">
                    <h6><b>Step by Step</b></h6>
                    <br />
                    <img src="~/images/icon-lg1.png" class="rounded-circle" style="height:120px" />
                    <br /><br />
                    <div class="" style="font-size:smaller">
                        <a href="https://nuprc.gov.ng/index/wp-content/uploads/2015/04/LP-GUIDELINES-2015-Edition-V.16-04-2015.pdf" target="_blank" class="white">Online Application Guide</a><br />
                        <a href="https://elps.nuprc.gov.ng/Account/ResendEmailActivation?appId=@ElpsServices.public_key" class="white">Resend Activation Email</a><br />
                        <a href="https://elps.nuprc.gov.ng/Permit/VerifyPermit?appId=@ElpsServices.public_key" class="white">Validating a Permit</a><br />
                        <a href="/faq" class="white">FAQ</a><br />
                    </div>
                </div>
                <div class="col-sm-3 text-center">
                    <h6 class="text-danger"><b>Payment Processor</b></h6>
                    <br />
                    <img src="~/images/remita2.png" class="rounded-circle" style="height:120px" />
                    <br /><br />
                          <div style="font-size: smaller">
                              Bank Draft, Cash Deposit, MasterCard, Verve, Visa, Internet Banking, Mobile Wallet
                          </div>
                </div>
                <div class="col-sm-3">
                    <h6><a href="@ElpsServices._elpsBaseUrl/Account/Register?appId=@ElpsServices.public_key" class="white"><b>Company Registration</b></a></h6>
                    <br />
                    <img src="~/images/icon-lg2.png" class="rounded-circle" style="height:120px" />
                    <br /><br />
                    <p style="font-size: smaller; line-height: 30px">
                        Create account to use resources on this portal. Note that Account creation
                        is not required to validate a permit.
                    </p>
                </div>
                <div class="col-sm-3 text-center">
                    <h6><a href="@ElpsServices._elpsBaseUrl/Account/Login?appId=@ElpsServices.public_key" class="white"><b>Account Login</b></a></h6>
                    <br />
                    <img src="~/images/icon-lg3.png" class="rounded-circle" style="height:120px" />
                    <br /><br />
                    <p style="font-size:smaller; line-height:30px"> Login to apply for a new license, renew or manage your Well Test <br/>(Extended Well Test, Maximun Efficency Rate and Drill Stem Test) account</p>
                </div>
            </div>
            <br />
            <span style="">&copy; @DateTime.Now.Year - Nigerian Upstream Petroleum Regulatory Commission. All Rights Reserved.</span>
            <br /><br />
        </div>
    </div>


</body>




