
@using DST.Helpers;
@model IEnumerable<DST.Models.DB.Messages>
@using Microsoft.AspNetCore.Http;
@using DST.Controllers.Authentications;

@{
    ViewData["Title"] = "Dashboard";

    Layout = "~/Views/Shared/_ClientLayout.cshtml";

    GeneralClass generalClass = new GeneralClass();

}

<div>
    <div class="row" id="BackImage">

        <div class="col-sm-4 text-left">
            <br />
            <h2>Welcome</h2>
            <hr />
            <b class="DashCompanyName"> @generalClass.Decrypt(Context.Session.GetString(AuthController.sessionUserName)) </b>
        </div>

        <div class="col-sm-8">

            <div class="row">

                <div class="col-sm-3">
                    <div class="FirstDashCount">
                        <b>@ViewData["AllCompanyApps"]</b>
                    </div>
                    <div class="DashCount">
                        <br />
                        Application(s)
                    </div>

                </div>

                <div class="col-sm-3">
                    <div class="FirstDashCount">
                        <b>@ViewData["AllProcessingApps"]</b>
                    </div>
                    <div class="DashCount">
                        <br />
                        On Processing
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="FirstDashCount">
                        <b>@ViewData["AllCompanyPermit"]</b>
                    </div>
                    <div class="DashCount">
                        <br />
                        Total Approval(s)
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="FirstDashCount">
                        <b>@ViewData["AppExpiring"]</b>
                    </div>
                    <div class="DashCount">
                        <br />
                        Expiring in 10 days
                    </div>
                </div>
            </div>


        </div>
    </div>

    <br />


    <div>

        <h4 class=""> Notification(s) </h4>

        <p class="text-danger"> Find new updates about your applications here.</p>

        <hr />

        @if (Convert.ToInt32(ViewData["Unfinished"].ToString()) > 0 || Convert.ToInt32(ViewData["Notify"].ToString()) > 0)
        {
            <div class="alert alert-success">
                <b> You have some unfinished applications. Kindly go to <a href="/Companies/MyApplications"> My Applications </a> and continue.</b> <br />
            </div>
        }

        @if (Convert.ToInt32(ViewData["UploadReport"].ToString()) > 0)
        {
            <div class="alert alert-warning">
                <b>Application Approved, you need to submit your 'END OF WELL TEST REPORT'. Kindly go to <a href="/Companies/MyApplications"> My Applications </a> and continue.</b> <br />
            </div>
        }


        @if (Convert.ToInt32(ViewData["RejectedApps"].ToString()) > 0)
        {
            <div class="alert alert-danger">
                <b> You have some rejected application. Kindly go to <a href="/Companies/MyApplications"> My Applications </a> and respond to it.</b> <br />
            </div>
        }


        @if (Convert.ToInt32(ViewData["ScheduleNotify"].ToString()) > 0)
        {
            <div class="alert alert-warning">
                <b> You have been invited for a schedule. Kindly go to <a href="/Companies/MySchedule"> My Schedule </a> and respond to it.</b> <br />
            </div>
        }





    </div>

    <br />

    <div class="row">

        <div class="col-sm-9">

            <h5> Recent Message(s) </h5>

            <table class="table table-hover table-bordered" style="font-size:medium">

                <thead class="" style="background:#3e6a4d; color:#fff">
                    <tr>
                        <th> Seen </th>
                        <th> Subject </th>
                        <th> Date </th>
                    </tr>
                </thead>

                <caption> <a href="/Companies/Messages" class="text-dark"> Showing 10 Application Messages Only - See More </a> </caption>

                <tbody>
                    @foreach (var m in Model)
                    {
                        var comp_id = generalClass.Encrypt(m.CompanyId.ToString());
                        var msg_id = generalClass.Encrypt(m.MessageId.ToString());

                        @if (m.Seen == true)
                        {
                            <tr>
                                <td>
                                    @if (m.Seen == true)
                                    {
                                        <i class="fas fa-envelope-open text-dark"></i>
                                    }
                                    else
                                    {
                                        <i class="fas fa-envelope text-success"></i>
                                    }
                                </td>

                                <td>
                                    <a href="/Companies/Message/@comp_id/@msg_id" style="color:darkgoldenrod"> @m.Subject </a>
                                </td>

                                <td> @m.CreatedAt.ToString()</td>
                            </tr>
                        }
                        else
                        {
                            <tr style="background:#e7f8ef">
                                <td>
                                    @if (m.Seen == true)
                                    {
                                        <i class="fas fa-envelope-open text-dark"></i>
                                    }
                                    else
                                    {
                                        <i class="fas fa-envelope text-success"></i>
                                    }
                                </td>

                                <td>
                                    <a href="/Companies/Message/@comp_id/@msg_id" style="color:darkgoldenrod"> @m.Subject </a>
                                </td>

                                <td> @m.CreatedAt.ToString()</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        <div class="col-sm-3">

            <h5> My Approval(s) </h5>

            <table class="table table-bordered table-hover" style="font-size:smaller">

                <thead>
                    <tr>
                        <th> ### </th>
                    </tr>
                </thead>

                <tbody>

                    @foreach (var m in (ViewBag.Permits as List<DST.Models.DB.Permits>))
                    {
                        <tr> 
                    <td>
                        <p><b class="text-primary"> @m.PermitNo</b></p>

                        <div>
                            <a class="btn btn-dark btn-sm" href="/Permits/ViewPermit/@generalClass.Encrypt(m.PermitId.ToString())/_view" target="_blank"> <i class="fa fa-eye"> </i> View </a>
                            <a class="btn btn-warning btn-sm" href="/Permits/ViewPermit/@generalClass.Encrypt(m.PermitId.ToString())/_download" target="_blank"> <i class="fa fa-file-download"> </i> Download </a>
                        </div>
                    </td>
                        </tr>
                    }

                </tbody>

                <caption>  </caption>

            </table>

        </div>
    </div>


</div>

