@using DST.Helpers;
@using DST.Controllers.Authentications;
@using Microsoft.AspNetCore.Http;
@model IEnumerable<DST.Models.GeneralModel.MyPermit>

@{
    ViewData["Title"] = "All My Approval";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
    GeneralClass generalClass = new GeneralClass();
}


<div class="">

    <div class="row" id="BackImage">

        <br />
        <h3 class="DashCompanyName">@ViewData["Title"] </h3>
        <hr />
    </div>

    <br />

    <div>

        <table class="table table-bordered table-hover" id="MyFacilityTable" style="font-size:small">
            <thead>
                <tr>
                    <th> Permit NO</th>
                    <th> App. Ref. NO. </th>
                    <th> Company </th>
                    <th> Category </th>
                    <th> Issue Date </th>
                    <th> Expiry Date </th>
                    <th> Action </th>
                </tr>
            </thead>
            <tbody>

                @if (Model.Any())
                {
                    foreach (var a in Model)
                    {
                        var permitID = generalClass.Encrypt(a.PermitID.ToString());
                        var appid = generalClass.Encrypt(a.AppId.ToString());

                        var exDate = DateTime.Parse(a.ExpireDate.ToString());

                        <tr>
                            <td> <b class="text-dark">@a.PermitNo</b></td>
                            <td> <b>@a.RefNo</b></td>
                            <td> <b class="text-danger">@a.CompanyName</b></td>
                            <td> <b class="text-primary">@a.StageName</b> </td>
                            <td> @a.IssuedDate.ToString("MMMM dd, yyyy") </td>
                            <td>
                                @a.ExpireDate.ToString("MMMM dd, yyyy")

                                @if (DateTime.Now > exDate)
                                {
                                    <br />
                                    <b class="text-danger"> Expired Permit </b>
                                }
                            </td>

                            <td>
                                <div class="btn-group" role="group">
                                    <a class="btn btn-primary btn-xs" href="/Permits/ViewPermit/@permitID/_view" target="_blank"> <i class="fa fa-eye"> </i> View </a>
                                    <a class="btn btn-success btn-xs" href="/Permits/ViewPermit/@permitID/_download" target="_blank"> <i class="fa fa-file-download"> </i> Download</a>

                                    @if (a.ShortName == GeneralClass.DST)
                                    {
                                        <a class="btn btn-warning btn-xs" href="/Permits/ViewLetter/@appid/_view" target="_blank">  <i class="fa fa-eye"> </i> View Letter </a>
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

    </div>

</div>