@using  DST.Helpers
@model IEnumerable<DST.Models.GeneralModel.NominationReport>

@{
    ViewData["Title"] = "Add Report for " + ViewData["AppRefNo"].ToString();
    Layout = "~/Views/Shared/_ElaLayout.cshtml";
    GeneralClass generalClass = new GeneralClass();
}


<h1>@ViewData["Title"]</h1>

<br />


<div class="card-black">

    <h3 class="text-primary"> Application Information </h3>
    <hr />

    <div class="row">

        @if (Model.Any())
        {

            foreach (var appDetail in Model.FirstOrDefault().applicationDetails)
            {

                <div class="col-sm-4">

                    <div class="alert alert-warning">

                        <div style="line-height:30px">
                            <div>
                                <h5>Reference NO :<b class="text-primary"> @appDetail.RefNo</b></h5>
                            </div>
                            <br />
                            <div>
                                <h5>Company Name : <a class="" href="/Company/FullCompanyProfile/@generalClass.Encrypt(appDetail.CompanyEmail)" target="_blank"> <i class="ti-eye"> </i> @appDetail.CompanyName </a> </h5>
                            </div>
                            <br />
                            <div>
                                <h5>Company Address : @appDetail.CompanyAddress </h5>
                            </div>
                            <br />
                            <div>
                                <h5>Well Details : @appDetail.WellName</h5>
                            </div>
                            <br />
                            <div>
                                <h5>Stage : @appDetail.AppStage</h5>
                            </div>
                            <br />
                            <div>
                                <h5>Statu : @appDetail.Status </h5>
                            </div>
                            <br />
                            <div>
                                <h5>Date Applied : @appDetail.DateApplied </h5>
                            </div>
                            <br />
                            <div>
                                <h5>Date Submitted : @appDetail.DateSubmitted </h5>
                            </div>

                        </div>

                    </div>
                </div>
            }

            <div class="col-sm-8">

                <div class="card-title text-left" id="NReportLoader">
                    <h5>DETAILS : <b> @ViewData["FacilityName"] (@ViewData["AppStage"]) </b></h5>

                    <h5> <span> Ref. NO : <b class="text-primary">@ViewData["AppRefNo"]</b> </span> </h5>

                    <input type="text" hidden id="txtNormID" name="txtNormID" value="@generalClass.Encrypt(ViewData["NominationID"].ToString())" />
                    <input type="text" hidden id="txtCompanyElpsID" name="txtCompanyElpsID" value="@ViewData["CompanyElpsID"]" />
                    <input type="text" hidden id="FacilityElpsID" name="FacilityElpsID" value="@ViewData["FacilityElpsID"]" />
                    <input type="text" hidden id="txtURL" name="txtURL" value="@ElpsServices._elpsBaseUrl" />
                    <input type="text" hidden id="txtHash" name="txtHash" value="@ElpsServices.appHash" />

                    <br />

                    <div class="text-left">

                        <ul style="font-size:smaller; line-height:30px" class="">
                            <li>
                                1) .Please note. All documents listed below are required and must be uploaded. Subsequently, other documents may been needed and will be added to this list.
                            </li>
                            <li>
                                2). The MAX file size allowed is 4MB per document. Any file greated than this will not be uploaded.
                            </li>
                            <li>
                                3). Only JPEG, PNG, JPG, and PDF file types are allowed on this platform.
                            </li>
                        </ul>

                    </div>

                </div>

                <p><br /></p>

                <div>

                    <div class="table-responsive">
                        <table class="table table-hover" style="font-size:small" id="docTable">
                            <thead>
                                <tr style="font-weight:bolder;">
                                    <th> Document Type</th>
                                    <th> Source</th>
                                    <th> Type Name</th>
                                    <th> Avialable </th>
                                    <th> Change </th>
                                </tr>
                            </thead>

                            <tbody>

                                @foreach (var bothDoc in Model.FirstOrDefault().bothDocuments)
                                {
                                    foreach (var presentDoc in bothDoc.presentDocuments)
                                    {
                                        var present = presentDoc.Present == true ? "Uploaded" : "Not Uploaded";

                                        var file_icon = "";
                                        var font_png_icon = "fa-file-image";
                                        var font_pdf_icon = "fa-file-pdf text-danger";

                                        var font_file_icon = "fa-file text-info";

                                        var img_link = /*"elpsdemo.dpr.gov.ng" +*/ presentDoc.Source;

                                        file_icon = presentDoc.Source.EndsWith(".png") == true ? font_png_icon :
                                               presentDoc.Source.EndsWith(".PNG") == true ? font_png_icon :
                                               presentDoc.Source.EndsWith(".jpg") == true ? font_png_icon :
                                               presentDoc.Source.EndsWith(".JPG") == true ? font_png_icon :
                                               presentDoc.Source.EndsWith(".jpeg") == true ? font_png_icon :
                                               presentDoc.Source.EndsWith(".JPEG") == true ? font_png_icon :
                                               presentDoc.Source.EndsWith(".pdf") == true ? font_pdf_icon :
                                               presentDoc.Source.EndsWith(".PDF") == true ? font_pdf_icon : font_file_icon;

                                        <tr class="" id="docRow_@presentDoc.LocalDocID">

                                            <td>
                                                @presentDoc.DocType<br />Document

                                                <input type="text" hidden name="txtLocalDocID[]" value="@presentDoc.LocalDocID" required />
                                                <input type="text" hidden name="txtCompDocElpsID[]" id="doc_@presentDoc.LocalDocID" value="@presentDoc.CompElpsDocID" required />
                                                <input type="text" hidden id="docType_@presentDoc.LocalDocID" value="@presentDoc.DocType" required />
                                                <input type="text" hidden name="txtDocSource[]" id="docSource_@presentDoc.LocalDocID" value="@presentDoc.Source" required />

                                            </td>

                                            <td class="text-center">
                                                <a href="@img_link" target="_blank" style="color:black" title="Click to view document">
                                                    <i class="fa @file_icon fa-5x"></i>
                                                </a>
                                                <br />
                                                <small class="text-info"><b> View Doc </b></small>
                                                <br />

                                                @*<button class="btn btn-sm btn-danger" onclick="DeleteDocument(@presentDoc.CompElpsDocID, @presentDoc.LocalDocID, '@presentDoc.DocType')"> <i class="fa fa-trash-o"> </i> Delete Doc </button>*@
                                            </td>

                                            <td style="">
                                                @presentDoc.TypeName
                                                <div id="Error_@presentDoc.LocalDocID">

                                                </div>
                                                <div id="progress_@presentDoc.LocalDocID" class="progress" style="height: 20px;">
                                                    <div class="progress-bar progress-bar-primary" role="progressbar"></div>
                                                </div>
                                            </td>


                                            <td style="color:black"><b>@present</b></td>
                                            <td>
                                                <button class="btn btn-primary btn-sm" onclick="updateBrowse(@presentDoc.LocalDocID)"> <i class="fa fa-cloud-upload-alt"> </i> Change Doc </button>
                                                <input type="file" hidden class="updatefile" id="Update_@presentDoc.LocalDocID" onclick="updateFile(this, @presentDoc.LocalDocID);" name="Upload" accept="image/jpg,image/png,image/jpeg,application/pdf" />
                                            </td>

                                        </tr>
                                    }

                                    foreach (var missingDoc in bothDoc.missingDocuments)
                                    {
                                        var present = missingDoc.Present == true ? "Uploaded" : "Not Uploaded";

                                        <tr style="font-weight:bold" id="docRow2_@missingDoc.LocalDocID">

                                            <td>
                                                @missingDoc.DocType Document

                                                <input type="text" hidden value="@missingDoc.LocalDocID" required />
                                                <input type="text" hidden name="missingCompElpsDocID[]" value="@missingDoc.CompElpsDocID" required />
                                                <input type="text" hidden id="docType_@missingDoc.LocalDocID" value="@missingDoc.DocType" required />
                                                <input type="text" hidden id="docTypeID_@missingDoc.LocalDocID" value="@missingDoc.DocTypeID" required />
                                            </td>

                                            <td class="text-center"><i class="fa fa-exclamation-triangle fa-3x text-warning"></i></td>

                                            <td style="font-size:small">
                                                @missingDoc.TypeName
                                                <div id="Error2_@missingDoc.LocalDocID"> </div>
                                                <div id="progress2_@missingDoc.LocalDocID" class="progress" style="height: 20px;">
                                                    <div class="progress-bar progress-bar-primary" role="progressbar"></div>
                                                </div>
                                            </td>
                                            <td class="text-danger">@present</td>
                                            <td>
                                                <button class="btn btn-danger btn-sm m-b-10 m-l-5" onclick="OpenUploadBrowse(@missingDoc.LocalDocID)"> <i class="fa fa-cloud-upload-alt"> </i> Upload Doc </button>
                                                <input type="file" hidden class="uploadfile" id="Upload_@missingDoc.LocalDocID" onclick="uploadFile(this, @missingDoc.LocalDocID);" name="Upload" accept="image/jpg,image/png,image/jpeg,application/pdf" />
                                            </td>

                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>


                    <hr />

                    <div class="form-group">
                        <label for="title">Title:</label>
                        <br />
                        <input id="txtNReportTitle" class="form-control" required placeholder="Enter Report Title here" />
                    </div>

                    <div class="form-group">
                        <label for="comment">Comment:</label>
                        <br />
                        <textarea id="txtNAppReport" required style="max-width:100%" rows="7" cols="200" placeholder="Some report here..."></textarea>
                    </div>

                    <button class="btn btn-facebook" id="btnNSaveReport"> Send Report </button>
                    <p></p>
                    <div id="NReportModalInfo" class="text-danger"> </div>


                </div>

            </div>

        }
        else
        {
            <br /><br />
            <h2 class="text-danger"> Something went wrong. This can be network related. Please, kindly try again later</h2>
            <br /><br />
        }

    </div>

</div>


<script>

    function updateFile(fileInput, fileID) {

        $("#Error_" + fileID).html("");
        var documentID = $("#doc_" + fileID).val();
        var docType = $("#docType_" + fileID).val();

        var txtUrl = $("#txtURL").val();

        uploadLocation = '';

        if (docType === "Facility") {
            var uploadLocation = txtUrl + 'api/FacilityDocument/UpdateFile/' + documentID + '/@ViewData["FacilityElpsID"]' + '?docid=' + documentID;
        }
        else {

            var uploadLocation = txtUrl + 'api/CompanyDocument/UpdateFile/' + documentID + '/@ViewData["CompanyElpsID"]' + '/' + docType.toLowerCase() + '?docid=' + documentID;
        }

        $(".updatefile").fileupload({
            dataType: 'json',
            url: uploadLocation,
            done: function (e, data) {
                $("#docRow_" + fileID).removeClass("Uploadloader");
                $("#Update_" + fileID).val('');
                //DeleteOldDocument(documentID, fileID); // deleteng old document
                $("#docTable").load(location.href + " #docTable");

                $("#Error_" + fileID).html("<b style='color:blue'> Changing... Please wait.</b>");

                $("#Error_" + fileID).html("<b style='color:green'> Successfully Updated...Please wait </b>");

            },
            fail: function (e, data) {
                $.each(data.messages, function (index, error) {
                    if (error.toLowerCase().indexOf('bytes exceed file size' > 0)) {
                        $("#Error_" + fileID).html("");
                        $("#Error_" + fileID).html("<span class='text-danger'> Upload file error: Max. File size (4MB) Exceeded OR Invalid file type was selected (only pdf, jpg, jpeg or png) </span>");
                        $("#Update_" + fileID).val('');
                    }
                    else {
                        $("#Error_" + fileID).html("");
                        $("#Error_" + fileID).html("<span class='text-danger'> " + error + " </span>");
                        $("#Update_" + fileID).val('');
                    }
                });
                $("#docRow_" + fileID).removeClass("Uploadloader");

                $("#docRow_" + fileID).removeClass("Uploadloader");
                $("#Update_" + fileID).val('');
                var progBox = '#progress_' + fileID + ' .progress-bar';

                $(progBox).css(
                    'width',
                    0 + '%'
                ).text("");
            },
            progressall: function (e, data) {

                $("#docRow_" + fileID).addClass("Uploadloader");

                var progress = parseInt(data.loaded / data.total * 100, 10);

                var progBox = '#progress_' + fileID + ' .progress-bar';

                $(progBox).css(
                    'width',
                    progress + '%'
                ).text(progress + '%');
            }

        });
    }




    function uploadFile(fileInput, fileID) {

        var txtUrl = $("#txtURL").val();
        var txtHash = $("#txtHash").val();

        $("#Error2_" + fileID).html("");
        var docTypeID = $("#docTypeID_" + fileID).val().trim();
        var docType = $("#docType_" + fileID).val().trim();
        var uploadLocation = '';

        if (docType === "Facility") {
            uploadLocation = txtUrl + 'api/Facility/UploadFile/' + docTypeID + '/@ViewData["CompanyElpsID"]' + '/@ViewData["FacilityElpsID"]' + '/@ElpsServices._elpsAppEmail/' + txtHash + '?docName=&uniqueid=';
        }
        else {
            uploadLocation = txtUrl + 'api/UploadCompanyDoc/' + docTypeID + '/@ViewData["CompanyElpsID"]' + '/@ElpsServices._elpsAppEmail/' + txtHash + '?docName=&uniqueid=';
        }


        $(".uploadfile").fileupload({
            dataType: 'json',
            url: uploadLocation,
            done: function (e, data) {

                $("#Error2_" + fileID).html("<b style='color:blue'> Uploading... Please wait.</b>");
                $("#Upload_" + fileID).val('');
                $("#Error2_" + fileID).html("<b style='color:green'> Successfully uploaded...Please wait </b>");
                $("#docTable").load(location.href + " #docTable");
            },
            fail: function (e, data) {
                $.each(data.messages, function (index, error) {
                    if (error.toLowerCase().indexOf('bytes exceed file size' > 0)) {
                        $("#Error2_" + fileID).html("");
                        $("#Error2_" + fileID).html("<span class='text-danger'> Upload file error: Max. File size (4MB) Exceeded OR Invalid file type was selected (only pdf, jpg, jpeg or png) </span>");
                        $("#Upload_" + fileID).val('');
                    }
                    else {
                        $("#Error2_" + fileID).html("");
                        $("#Error2_" + fileID).html("<span class='text-danger'> " + error + " </span>");
                        $("#Upload_" + fileID).val('');
                    }
                });
                $("#docRow2_" + fileID).removeClass("Uploadloader");

                $("#docRow2_" + fileID).removeClass("Uploadloader");
                $("#Upload_" + fileID).val('');
                var progBox = '#progress2_' + fileID + ' .progress-bar';

                $(progBox).css(
                    'width',
                    0 + '%'
                ).text("");
            },
            progressall: function (e, data) {

                $("#docRow2_" + fileID).addClass("Uploadloader");

                var progress = parseInt(data.loaded / data.total * 100, 10);

                var progBox = '#progress2_' + fileID + ' .progress-bar';

                $(progBox).css(
                    'width',
                    progress + '%'
                ).text(progress + '%');
            }

        });

    }




    // already submitted document for updating file on elps.
    function updateFile3(fileInput, fileID) {

        $("#Error3_" + fileID).html("");
        var documentID = $("#doc3_" + fileID).val();
        var docType = $("#docType3_" + fileID).val();

        var txtUrl = $("#txtURL").val();

        var uploadLocation = '';

        if (docType === "Facility") {
            var uploadLocation = txtUrl + 'api/FacilityDocument/UpdateFile/' + documentID + '/@ViewData["FacilityElpsID"]' + '?docid=' + documentID;
        }
        else {

            var uploadLocation = txtUrl + 'api/CompanyDocument/UpdateFile/' + documentID + '/@ViewData["CompanyElpsID"]' + '/' + docType.toLowerCase() + '?docid=' + documentID;
        }


        $(".updatefile3").fileupload({
            dataType: 'json',
            url: uploadLocation,
            done: function (e, data) {
                //$("#docRow3_" + fileID).removeClass("Uploadloader");
                $("#Error3_" + fileID).html("<b style='color:blue'> Changing... Please wait.</b>");

                $("#Error3_" + fileID).html("<b style='color:green'> Successfully Updated...Please wait </b>");
                $("#Update3_" + fileID).val('');
                //DeleteOldDocument(documentID, fileID); // deleteng old document
                $("#docTable2").load(location.href + " #docTable2");

                $("#Error3_" + fileID).html("<b style='color:blue'> Changing... Please wait.</b>");

                $("#Error3_" + fileID).html("<b style='color:green'> Successfully Updated...Please wait </b>");

            },
            fail: function (e, data) {
                $.each(data.messages, function (index, error) {
                    if (error.toLowerCase().indexOf('bytes exceed file size' > 0)) {
                        $("#Error3_" + fileID).html("");
                        $("#Error3_" + fileID).html("<span class='text-danger'> Upload file error: Max. File size (4MB) Exceeded OR Invalid file type was selected (only pdf, jpg, jpeg or png) </span>");
                        $("#Update3_" + fileID).val('');
                    }
                    else {
                        $("#Error3_" + fileID).html("");
                        $("#Error3_" + fileID).html("<span class='text-danger'> " + error + " </span>");
                        $("#Update3_" + fileID).val('');
                    }
                });


                $("#docRow3_" + fileID).removeClass("Uploadloader");
                $("#Update3_" + fileID).val('');
                var progBox = '#progress3_' + fileID + ' .progress-bar';

                $(progBox).css(
                    'width',
                    0 + '%'
                ).text("");
            },
            progressall: function (e, data) {

                $("#docRow3_" + fileID).addClass("Uploadloader");

                var progress = parseInt(data.loaded / data.total * 100, 10);

                var progBox = '#progress3_' + fileID + ' .progress-bar';

                $(progBox).css(
                    'width',
                    progress + '%'
                ).text(progress + '%');
            }

        });
    }



    // already submitted document file uploade for missing documents on elps
    function uploadFile4(fileInput, fileID) {

        var txtUrl = $("#txtURL").val();
        var txtHash = $("#txtHash").val();

        $("#Error4_" + fileID).html("");
        var docTypeID = $("#docTypeID4_" + fileID).val().trim();
        var docType = $("#docType4_" + fileID).val().trim();
        var uploadLocation = '';

        if (docType === "Facility") {
            uploadLocation = txtUrl + 'api/Facility/UploadFile/' + docTypeID + '/@ViewData["CompanyElpsID"]' + '/@ViewData["FacilityElpsID"]' + '/@ElpsServices._elpsAppEmail/' + txtHash + '?docName=&uniqueid=';
        }
        else {
            uploadLocation = txtUrl + 'api/UploadCompanyDoc/' + docTypeID + '/@ViewData["CompanyElpsID"]' + '/@ElpsServices._elpsAppEmail/' + txtHash + '?docName=&uniqueid=';
        }


        $(".uploadfile4").fileupload({
            dataType: 'json',
            url: uploadLocation,
            done: function (e, data) {

                $("#Error4_" + fileID).html("<b style='color:blue'> Uploading... Please wait.</b>");
                $("#Upload4_" + fileID).val('');
                $("#Error4_" + fileID).html("<b style='color:green'> Successfully uploaded...Please wait </b>");
                $("#docTable2").load(location.href + " #docTable2");
                //$("#docRow4_" + fileID).removeClass("Uploadloader");

            },
            fail: function (e, data) {
                $.each(data.messages, function (index, error) {
                    if (error.toLowerCase().indexOf('bytes exceed file size' > 0)) {
                        $("#Error4_" + fileID).html("");
                        $("#Error4_" + fileID).html("<span class='text-danger'> Upload file error: Max. File size (4MB) Exceeded OR Invalid file type was selected (only pdf, jpg, jpeg or png) </span>");
                        $("#Upload4_" + fileID).val('');
                    }
                    else {
                        $("#Error4_" + fileID).html("");
                        $("#Error4_" + fileID).html("<span class='text-danger'> " + error + " </span>");
                        $("#Upload4_" + fileID).val('');
                    }
                });

                $("#docRow4_" + fileID).removeClass("Uploadloader");
                $("#Upload4_" + fileID).val('');
                var progBox = '#progress4_' + fileID + ' .progress-bar';

                $(progBox).css(
                    'width',
                    0 + '%'
                ).text("");
            },
            progressall: function (e, data) {

                $("#docRow4_" + fileID).addClass("Uploadloader");

                var progress = parseInt(data.loaded / data.total * 100, 10);

                var progBox = '#progress4_' + fileID + ' .progress-bar';

                $(progBox).css(
                    'width',
                    progress + '%'
                ).text(progress + '%');
            }

        });

    }



    function updateBrowse(id) {
        $("#Update_" + id).click();
    }

    function OpenUploadBrowse(id) {
        $("#Upload_" + id).click();
    }




    /*
     * Deleteing a document...
     */
    function DeleteDocument(id, fileID, DocType) {

        var msg = confirm("Are you sure you want to delete this document?");

        if (msg === true) {

            $.post("/Helpers/DeleteCompanyDocument", { "CompElpsDocID": id, "DocType": DocType }, function (response) {
                if (response.trim() === "Network Error") {
                    $("#Error_" + fileID).html("<span class='text-danger'> No Network. Please check your network. </span>");
                }
                else {

                    if (response.trim() === "Document Deleted") {
                        $("#Error_" + fileID).html("<b style='color:green'> Document deleted successfully... Please wait </b>");
                        $("#docTable").load(location.href + " #docTable");
                    }
                    else {
                        $("#Error_" + fileID).html("<span class='text-danger'> Error " + response + " </span>");
                    }
                }
            });
        }
    }



    function Reload() {
        location.reload(true);
    }



    // removing document from already submitted documents table
    function RemoveDoc(id, rowTag) {

        var app_id = $("#txtAppID").val();

        var msg = confirm("Are you sure you want to remove this document?");

        if (msg === true) {

            $.post("/CompanyApplication/RemoveAddictionalDocuments", { "AppID": app_id, "SubmitDocID": id }, function (response) {
                if (response.trim() === "Done") {
                    alert("Document has been removed successfully");
                    $("#" + rowTag).hide(1000);
                }
                else {
                    alert(response);
                }
            });
        }
    }

</script>