@*@using DST.Helpers
@model IEnumerable<DST.Models.GeneralModel.TransactionsModel>

@{
    ViewData["Title"] =  ViewData["TransViewType"];
    Layout = "~/Views/Shared/_ElaLayout.cshtml";
    GeneralClass generalClass = new GeneralClass();
}


<h1>@ViewData["Title"].ToString()</h1>

<br />

<div class="card-black">

    <div class="table-responsive">

        <table class="table table-bordered table-hover" id="MyAppsTable" style="font-size:small">

            <thead>
                <tr>
                    <th>Ref. No.</th>
                    <th>My Company</th>
                    <th>Stage</th>
                    <th>Transport Mode</th>
                    <th>Status</th>
                    <th>RRR</th>
                    <th>Amt. Paid</th>
                    <th>Servic Charge</th>
                    <th>Total Amt.</th>
                    <th>Trans. Type</th>
                    <th>Trans. Date</th>
                    <th>Acknowledge At</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>

                @if (Model.Any())
                {
                    foreach (var a in Model)
                    {
                        var app_id = generalClass.Encrypt(a.AppId.ToString());

                        var colors = a.TransStatus == GeneralClass.PaymentPending ? "btn-danger" :
                                     a.TransStatus == GeneralClass.PaymentCompleted ? "btn-primary" : "btn-dark";

                        <tr>
                            <td>  <b class="">@a.RefNo</b> </td>
                            <td>  <b class="text-primary">@a.CompanyName</b></td>
                            <td>  @a.AppStage </td>
                            <td>  @a.Transportation </td>
                            <td>  <button class="btn btn-sm @colors"> <b>@a.TransStatus</b></button> </td>
                            <td>  <b>@a.RRR</b> </td>
                            <td>  $@string.Format("{0:N}", a.Amount)</td>
                            <td>  @a.ServiceCharge </td>
                            <td>  $@string.Format("{0:N}", a.TotalAmount) </td>
                            <td>  @a.TransType </td>
                            <td>  @a.TransDate.ToShortDateString() </td>
                            <td>  @a.UpdatedAt?.ToShortDateString() </td>
                            <td>  <small>@a.Description</small> </td>
                            <td>
                                <a href="/Applications/Apps/@app_id" target="_blank" class="btn btn-primary btn-sm"> <i class="fa fa-eye"> </i> View </a>
                            </td>
                        </tr>
                    }

                }

            </tbody>

        </table>

    </div>
</div>*@

